{% extends 'base.html.twig' %}

{% block title %}Hello AdminController!{% endblock %}

{% block body %}
{# <button class="btn btn-danger"><a href="{{path('ajoutlivre')}}" target="_blank" rel="noopener noreferrer">Ajouter un
        livre </a></button>
<button class="btn btn-success"><a href="{{path('modifierLivre', {'id':livre.id})}}" target="_blank">Modifier les informations du livre</a></button>
<button class="btn btn-light"><a href="#" target="_blank"> supprimer les informations du livre</a></button> #}
{% endblock %}